<select name="Site_Rc" class="form-control ddl_unite form-control-sm sel2">
	{# <option value="">CHOIX UNITE</option>
	{% for uni in lstunite %}
		<option value="{{uni.id}}">{{uni.designation}}</option>
	{% endfor %} #}
</select>
