{% set current_path = app.request.get('_route') %}
{#{{ dump(current_path) }}#}






<ul class="nav nav-tabs">
    
    
    <li> <a class="nav-link {% if "module_univ_admission_preadmission_avecConcours"  in current_path  %} active {%endif%}" href="{{ path('module_univ_admission_preadmission_avecConcours' )}}" ><i class="fa fa-bar-chart-o"></i> Admissible</a></li>

    <li> <a class="nav-link {% if "module_univ_admission_preadmission_ac_nonAdmissible"  in current_path  %} active {%endif%}" href="{{ path('module_univ_admission_preadmission_ac_nonAdmissible' )}}" ><i class="fa fa-close"></i>  Nom Admissible</a></li>

          

  
</ul>