{% extends 'base_config.html.twig' %}

{% block title %}Compte index{% endblock %}



{% block body %}
    
    <div id="right-sidebar" class="actions animated" >


    </div>

<div class="new">
 {% include './config/inc/navigation.html.twig' %}

    
        {{ include('./parametrage/p_compte/_form.html.twig') }}
        
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('pcompte') }}
{% endblock %}
