{% extends 'base_empty.html.twig' %}



{% block title %}Mon Profil{% endblock %}

{% block body %}
    <div class="wrapper wrapper-content">
        <div class="container">


            {#{% include './user/inc/profil_image.html.twig' %}#}

            <div class="row">
                <div class="col-md-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5><i class="fa fa-user"></i> Mon profil </h5>
                        </div>
                        <div class="ibox-content">



                            {% include './user/profil/inc/profil_statut.html.twig' %}

                            <div class="row m-t-sm">
                                <div class="col-lg-12">
                                    <div class="panel blank-panel">
                                        <div class="panel-heading">
                                            <div class="panel-options">

                                                {% include './user/profil/inc/navigation.html.twig' %}


                                            </div>
                                        </div>

                                        <div class="panel-body">


                                            <div class="tab-content">
                                                <div class="tab-pane active">

                                                    <form method="post" action="{{path('password_change_save')}}">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <div style="text-align: right">
                                                                        <h2 class="user-profil-titre">Changement de mot de passe</h2>
                                                                        <button class="btn btn-white btn-xs btn-lg password_save" type="submit" disabled>
                                                                            <i class="fa fa-save"></i>
                                                                            {{ button_label|default('Enregistrer') }}
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div>
                                                                <div class="row">
                                                                    <div class="col-md-6 b-r">
                                                                    <div class="form-group">
                                                                        <label class='col-sm-4'>Nouveau mot de passe</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="password" name="password_new" class="form-control password_new" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="hr-line-dashed"></div>

                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-6 b-r">
                                                                    <div class="form-group">
                                                                        <label class='col-sm-4'>Confirmation mot de passe</label>
                                                                        <div class="col-sm-8">
                                                                            <input type="password" name="password_confirmation" class="form-control password_confirmation" />
                                                                        </div>
                                                                    </div>
                                                                    <div class="hr-line-dashed"></div>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                    </form>
                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!--statistique inc -->    

        </div>

    </div>
{% endblock %}



{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('profil') }}
{% endblock %}


