{% extends 'base_univ.html.twig' %}

{% block title %}Modifier programmation | Planning & programmation | UNIV{% endblock %}

{% block body %}
<div id="right-sidebar" class="actions animated" >


    </div>
     <div class="edit">
    {{ include('./module_univ/programmation/_form.html.twig',{'button_label': 'Modifier'}) }}
    </div>


{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('univ_programmation') }}
{% endblock %}
