{% set current_path = app.request.get('_route') %}

{#% if module is defined  and module.id > 0 %}
    {% include './module_univ/evaluation/epreuve/inc/workflow_breadcumb.html.twig' %}
{% endif %#}

{% if semestre is defined %}


    <ul class="nav nav-tabs">

        {% for operation1 in operations|sort((a, b) => a.ordr <=> b.ordr)%}
            {#{dump(operation1)}#}
            {% if operation1.horizontale  %}
                {% if operation1.route is not null  %}
                    {% if operation1.parent =='_evaluation_semestre' %}
                        {% set titre = operation1.titre|split('(') %}


                        <li>


                            <a class="nav-link {% if  operation1.route   in current_path  %} active {%endif%}" href="{{ path(operation1.route , {id:semestre.id}) }}">
                                <i class="fa {{ operation1.icon }}"></i>
                                {{ titre[0]|capitalize }}</a>
                        </li>

                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>

    <button class="link-promotion promotion">


        <a class="nav-link" >
            <i class="fa fa-info-circle"></i>
            Informations</a>
    </button>

{% endif %}
