<div class="mail-body text-right tooltip-demo buttons_foot">


		<button data-toggle="dropdown" class="btn btn-sm btn-white btn-outlin dropdown-toggle" type="button">
                <i class="fa fa-ellipsis-v"></i>
        </button>
		<ul class="dropdown-menu">
			
					<li>
						<a id="rejeter"  class='btn-wrf btn btn-xs btn-danger btn-outline '>
						<i class="fa {{ operation.icon }}"></i>
						{{ "Rejeter"|capitalize }}</a>
					</li>
				

		</ul>


</div>
