<div class="row">
    <div class="btn-group btn-breadcrumb btn-breadcrumb2">
        <a href="#" class="btn btn-default">
           <b> Operation </b>
        </a>
   

        {# <a href="#" id="rejeter" class="btn btn-default text-danger">Rejeter </a> #}
                  
    </div>
</div>
