<div class="row">
    <div class="btn-group btn-breadcrumb btn-breadcrumb2">
        {% set count = 0 %}
        {% for key , place  in {"annuler":"Annulé" , "creer":"Créer" , "valider":"Validé", "generer":"Générer"}  %}
            {% if count >= 0 %}
                <a href="#" class="btn btn-default
                   {% if workflow_has_marked_place(UnivPlEmptime, key)  %}
                       btn-breadcrumb2-active
                   {% endif %}
                   ">{{ place }}</a>
                {% set count = count + 1%}
            {% endif %}
            </button>
        {% endfor %}   
    </div> 
</div>