<option value="" selected disabled>CHOIX SOUS DOSSIER</option>
        
        {% for info in Us_model %}
            <option value="{{info.id}}">
                {{info.titre|upper }}
            </option>
        {% endfor %}