{% extends 'base_transformation.html.twig' %}

{% block title %}Commande new{% endblock %}




{% block body %}

    <div id="right-sidebar" class="actions animated" >


    </div>

    <div class="new">



      

        {{ include('./transformation/commande/_form.html.twig') }}



        <div class="row">
            <div class="col-lg-12">
                <div class="ibox ">
                    <div class="ibox-content">

                        <div class="table-responsive">
                            <div class="col-md-12 m-mar-t2">
                                <h5 class="m-left">La liste des Articles</h5>
                                <table class="m-add t-m table table-striped table-bordered table-hover dataTables-example table-detail"  >
                                    <thead>
                                        <tr>

                                            <th style="width: 3%"># </th>
                                            <th style="width: 15%">Article </th>
                                            <th style="width: 20%">Observation :</th>
                                            <th style="width: 7%">Qantité  </th>
                                            <th style="width: 7%">P.U</th>
                                            <th style="width: 7%">TVA (20%) :</th>
                                            <th style="width: 7%">TTC :</th>
                                            
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                    <tfoot>
                                        <tr style="display: none" class="edit-new-article">

                                            {{ include('./transformation/commande/_form_detail.html.twig',{'button_label': 'Ajouter Article'}) }}

                                        </tr> 
                                    </tfoot>
                                </table>
                            </div>
                        </div>

                        {#<button class="new-article-btn btn btn-xs btn-white" type="button"><i class="fa fa-arrows"></i>&nbsp; Nouveau Article</button>#}
                    </div>
                </div>
            </div>
        </div>

    </div>




    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('commande_transformation') }}
{% endblock %}