<html>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Libre Barcode 128' rel='stylesheet'>
<style type="text/Css">


    barcode {
        font-family: 'Libre Barcode 39';font-size: 150px; margin-bottom: 0em;
    }

    html { margin: 0px}
    body { margin: 0px}
b{font-size: 40px;}
</style>

<body>

    <div style="text-align:center; margin-bottom:0px;">
        <barcode>{{inscription.id}}</barcode>
    </div>
    <div style="text-align:center; margin-top:0px;">
       <b> {{inscription.id}}</b>
    </div>
</body>


 

