<div class="row">
    <div class="btn-group btn-breadcrumb btn-breadcrumb2">
      <a href="#" class="btn btn-default"><b>Epreuve </b> </a>
        {% set count = 0 %}
        {% for key , place  in {"archiver" : "Archivé" , "annuler":"Annulé" , "creer":"Créer" , "affilier":"Affilié" , "note":"Note" , "cloturer":"Cloturé"}  %}
            {% if count >= 0 %}
                <a href="#" class="btn btn-default
                   {% if workflow_has_marked_place(epreuve, key)  %}
                       btn-breadcrumb2-active
                   {% endif %}
                   ">{{ place }}</a>
                {% set count = count + 1%}
            {% endif %}
            </button>
        {% endfor %}   
    </div> 
</div>

