<div class="row">
    <div class="btn-group btn-breadcrumb btn-breadcrumb2">
        <a href="#" class="btn btn-default"><b>Honoraires Bordereaux </b> </a>
        {% set count = 0 %}
        {% for key , place  in {  "creer":"Créer" , "encours":"En cours " , "valider":"Validé" }  %}
            {% if count >= 0 %}
                <a href="#" class="btn btn-default
                   {% if workflow_has_marked_place(bordereaux, key)  %}
                       btn-breadcrumb2-active
                   {% endif %}
                   ">{{ place }}</a>
                {% set count = count + 1%}
            {% endif %}
            </button>
        {% endfor %}   
    </div> 
</div>