{% extends 'base_ugouv.html.twig' %}

{% block title %}Modifier | General operation
{% endblock %}
{% block body %}
	<div id="right-sidebar" class="actions animated"></div>

	<div class="edit">


		{{ include('./tresorerie/compte_consolides/_form.html.twig',{'button_label': 'Enregistrer', 'page_actuel':'edit'}) }}


	


	
	</div>


{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags('compte_consolides') }}
{% endblock %}
