{% extends 'base_ugouv.html.twig' %}




{% block title %}index | charge{% endblock %}

{% block body %}
    <div id="right-sidebar" class="actions animated"></div>

        <div class="row wrapper  white-bg page-heading  fixed-top-navigation-button">

            <div class="col-lg-12">
                {# {% include './module_ecriturecomptable/liste_ecriture/inc/workflow_breadcumb.html.twig' %} #}
               
                     <div class="row">
	                    <div class="col-11">
			            </div>
	                    <div class="col-1">
                         <a  id="_new" class="op-hor btn btn-sm btn-white   btn-register waves-effect waves-light" data-toggle="modal" data-target="#ModalAjouterEcriture">
                            <i class="fa fa-plus"></i>
                            Ajouter 
                        </a>
			            </div>
                    </div>

              
            </div>
            <div class="border-b"></div>
                <div class="col-lg-12">
                    {{ wo_render_breadcrumbs() }}
                </div>
            </div>
            <br/>
            <br/>

            <div class="row border-bottom white-bg dashboard-header mt-10">
                <div class="col-lg-12">
                    <div class="ibox mt-2">
                        <div class="ibox-content">
                            <div class="message-success"></div>
                            <div class="row m-t-sm">
                                <div class="col-lg-12">
                                    <div class="panel blank-panel">
                                        <div class="panel-body">
                                            <div>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="tab-1">
                                                        <div class="row">
                                                            <div class="col-sm-4">
                                                                <div class="form-group row">
                                                                    <div class="form-check form-check-inline ml-4">
                                                                        <input class="form-check-input RadioOptions" type="radio" name="inlineRadioOptions" id="radiovalider" value="valider" checked >
				                                                        <label class="form-check-label font-weight-bold labelvalider" style="font-size :12px !important;font-weight: lighter;" for="labelvalider" id="">valider </label>
                                                                    </div>
                                                                    <div class="form-check form-check-inline ml-4">
                                                                         <input class="form-check-input RadioOptions" type="radio" name="inlineRadioOptions" id="radiononvalider" value="nonvalider"  >
				                                                        <label class="form-check-label font-weight-bold labelnonvalider" style="font-size :12px !important;font-weight: lighter;" for="labelnonvalider" id="">non valider </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div> 
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <div class="ibox ">
                        <div class="ibox-content">
                            <div class="table-responsive" style="overflow-x:scroll">
                                <table class="table tb cmd  display table-striped table-bordered table-hover dataTables-example" id="grid" style="width: 100%">
                                    <!-- <table class="table display"  id='grid'  style="font-size: 10px;"  width="100%">-->
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>piece</th>
                                            <th>Code</th>
                                            <th>Dossier</th>
                                            <th>Date</th>
                                            <th>Observation</th>
                                            <th>Journal</th>
                                            <th>Montant</th>
                                            <th>ref</th>
                                            <th>description tier</th>
                                            <th>tiers ref</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="factures"></tbody>    
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="mail-body text-right buttons_foot">	
        <button id="valider_ecriture_comp" class="btn btn-sm btn-white my-button upper btn-register waves-effect waves-light" data-style="expand-left" disabled>
            <i class="fa fa-save"></i>
            
            Valider
        </button>
    </div>


<div class="actions modal fade right" id="ModalAjouterEcriture"  role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="false" data-backdrop='false'>

        <div class="modal-dialog modal-full-height modal-right modal-sm" style="width: 80%; max-width: 40%;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalPreviewLabel1"> Ajouter Ecriture </h5>
                    <button type="button" class="close fermer_ua_technique_det" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                   
                    <div class="bod_valider" style=" ">

                    <div class="pt-1 pb-2 text-right">
                        
                    </div>

                    <form id="Ecriture_import_form" method="post" enctype="multipart/form-data">
                        <div class="center typ-files-styles">
                            <a class="btn btn-success Telecharger_canvas waves-effect waves-light" href="/files/ecritures.xlsx" role="button"> <i class="fa fa-download"></i> Télécharger canvas</a>    
                            <input type="file" id="file" name="file_ecritures">
                            <label for="file" class="btn-2" style="padding: 0.4rem 45px !important;     margin-bottom: 0 !important; font-size: 12.2px !important">
                                <i class="fa fa-cloud-upload"></i>Importer
                            </label>
                        </div>
                        <div class="subimport">
                            <button class="btn btn-sm btn-white my-button   upper btn-register waves-effect waves-light" id="enregitrer_ecriture" data-style="expand-left" disabled type="submit">
                                <i class="fa fa-save"></i>
                                Enregistrer</button>
                        </div>
                        
                    </form>
                    
                    
                           
                    </div>

                </div>
            </div>
        </div>

    </div>


</div>

</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('ecriturecomptable_liste_ecriture') }}
{% endblock %}
