<div style="font-family: 'Courier New';font-size: 10px;margin-top:40px">

	<table class="table-footer" style="font-family: 'Courier New';width: 65% ;margin-left:auto;margin-right:auto;" align="center" cellspacing="0">

		<tr style="background-color: #d5dce4; font-size: 10px;  ">
			<th style="width: 50%; padding: 7px;text-align: center;font-size: 10px; ">DEPARTEMENT BANQUE ET REGIES</th>
			<th style="width: 50%;padding: 7px;text-align: center; font-size: 10px;">ACCORD GOUV.FCZ</th>

		</tr>

		<tr>
			<td style=" font-size: 11px; width:15%;height:100px; background-color:#f2f2f2"></td>
			<td style=" font-size: 11px; width:15%; height:100px; background-color:#f2f2f2"></td>


		</tr>


	</table>

	<br>
	<br>
	<br>
	{# <p style="padding-right:15px;padding-left : 15px; padding:6px; width: 200px;position:relative;right:2.5%;text-align: right; left:60%;">VISA DEPARTEMENT BANQUE</p> #}

	<br>
	<br>
	<div style=" position: relative;left: 5%;width:90%;padding:5px;text-align: center;font-size: 9px;">
		<p>
			5, Rue 1er RABAT
						Tel : 05 37 72 66 93/05 37 73 05 09 – Fax : 05 37 73 05 92 – N° de Patente : 25110491
						
						IF : 34108750
			<br><br>
			CNSS/ 1454975 - INP/103001921 - ICE : 001649487000043 – RIB :007810000181200030452347
		</p>


	</div>
</div>
