<!DOCTYPE html>
<html>
<head>
	<title></title>
    <style>
    
.div1{
	FONT-FAMILY: Helvetica, Arial, sans-serif;
	color: rgb(0,0,0);
	FONT-WEIGHT: bold;
    text-align: center
}
.div2{
	FONT-FAMILY: Helvetica, Arial, sans-serif;
	color: rgb(0,0,0);
	FONT-WEIGHT: bold;
    text-align: center
}
.div3{
	FONT-FAMILY: Helvetica, Arial, sans-serif;
	color: rgb(0,0,0);
    text-align: center
}
.div4{
	FONT-SIZE: 80%;
	FONT-FAMILY: Helvetica, Arial, sans-serif;
	color: rgb(0,0,0);
	FONT-WEIGHT: bold;
    text-align: left
}
hr{
    height:-1px;
    width: 50%;
    text-align: left;
    margin-left: 0;
}
    .td14{
        border:2px solid gray;width: 100%;height: 70px;text-align: center;
    }
    .tb10{
        width: 18% ;position: absolute;top:29%;left:70%;font-size:10px;font-weight: bold;
    }
#tab1 {
  FONT-SIZE: 60%;
  FONT-FAMILY: Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  text-align: left

}

#tab1 td, #tab1 th {
  border: 1px solid #ddd;
}

#tab1 th {
  FONT-FAMILY: Helvetica, Arial, sans-serif;
  text-align: left;
  background-color: black;
  color: white;
}
#tab2 {
  FONT-SIZE: 60%;
  FONT-FAMILY: Helvetica, Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  text-align: left

}

#tab2 td, #tab2 th {
  border: 1px solid #ddd;
}

    .footer_style {
        
            position: absolute; 
 height: 30px;
            bottom: 0;width:100%;border-top:1px solid #000;text-align: center;font-size: 12px;line-height:14px
    }
#tab2 th {
  FONT-FAMILY: Helvetica, Arial, sans-serif;
  text-align: left;
  background-color: black;
  color: white;
}
.s7{
	FONT-FAMILY: Helvetica, Arial, sans-serif;
	color: rgb(0,0,0);
}
.s4{
  FONT-SIZE: 70%;
	text-align: left;
	FONT-FAMILY: Helvetica, Arial, sans-serif;
	color: rgb(0,0,0);
	FONT-WEIGHT: bold;
}
    </style>
</head>
<body>
<div class="div1">ETAT DES HONORAIRES PAR PROFESSEUR</div>
<div class="div2">Faculté de Médecine Générale</div>
<div class="div3">Résidanat : Gastroentérologie</div>
<div class="div3">Deuxième année</div>
<div class="div4">ID_BE : BRD00005548<br><hr></div>
<div class="div4">DATE_BE : 03/02/2020<br><hr></div>
<div class="div4">NIVEAU :<br><hr></div>
<div class="div4">Semaine 51 de : 14/12 à 20/12 2020<br><hr></div>
<br>
<table id="tab1">
  <tr>
    <th>N°</th>
    <th>PROFESSEUR</th>
    <th>NOM</th>
    <th>PRENOM</th>
    <th>GRADE</th>
    <th>MONTANT</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>1 800,00</td>
  </tr>
</table>
<table class="tb10"> 
    <tr> 
        <th class="s7">signature :</th>
    </tr>    
    <tr> 
        <td class="td14">
              
        </td>
    </tr>
</table>  
<br><br>
<table id="tab2">
  <tr>
    <th>N°</th>
    <th>ID_COURS</th>
    <th>PROFESSEUR</th>
    <th>D_SEANCE</th>
    <th>DUREE</th>
    <th>HR_D</th>
    <th>HR_F</th>
    <th>CLS_GRP</th>
    <th>MODULE/MATIERE</th>
    <th>TYPE</th>
    <th>GENRE</th>
    <th>EFFECTIVE</th>
    <th>MT</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
  </tr>
</table>
<br>
<div class="s4">nombre des séances :2</div>
    <page_footer>
        <div class="footer_style"><p>B.P. 6533, Avenue Allal El Fassi,Madinat Al Irfane,  Rabat 10 000. Maroc - Web : www.uiass.ma - Contact : contact@uiass.ma        <br/>Tel : +212 5 37 68 70 20 / 21 / 22 - Fax : +212 5 37 77 01 06</p>
        </div>
    </page_footer>
</body>
</html>