{#<div class="ibox">
	<div class="ibox-content  border-padding-none">

		<div class="">
			<div>
				<div class="col-lg-12 animated fadeInRight border-padding-none">
					<div class="mail-box-header-error header-mail-show">

						<h2 class="header-show tri">
							<i class="fa fa-exclamation-triangle"></i> Erreur : impossible d'accèder à cette écran .
						</h2>
						<div class="mail-tools tooltip-demo m-t-md">
							<h5 class="padding-0-show pa">
								
                                Vous n'avez pas le droit pour accéder à ce endroit ce utilisatur n'est pas autoristé pour allez cette écran .
							</h5>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>#}

<div style="height:85vh;">
	<div class="pos-a t-0 l-0 bgc-white w-100 h-100 d-f fxd-r fxw-w ai-c jc-c pos-r p-30">
		<div class="mR-60"><img alt="#" src="http://127.0.0.1:8000/img/logo-background.png" style="width: 210px;"></div>
		<div class="d-f jc-c fxd-c">
			<h1 class="mB-30 fw-900 lh-1 c-red-500" style="font-size:60px">403</h1>
			<h3 class="mB-10 fsz-lg c-grey-900 tt-c">Oops Page n'est pas autorisé</h3>
			<p class="mB-30 fsz-def c-grey-700">la page que vous voulez accèder vous n'avez pas le droit de l'accèder.</p>
			<div>
				<a href="{{path('user_profil_permission')}}" type="primary" class="btn btn-primary">Mes permissions</a>
			</div>
		</div>
	</div>
</div>
