<form method="post" action="{{ path('p_partenaire_delete', {'id': p_partenaire.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ p_partenaire.id) }}">
    <button class="btn">Delete</button>
</form>
