
{% extends 'base_ugouv.html.twig' %}

{% block title %}Modifier | Cnss{% endblock %}
{% block body %}
    <div id="right-sidebar" class="actions animated" >
    </div>

    <div class="edit">


        {{ include('./module_ressource_humaine/grs_paie_cnss/_form.html.twig',{'button_label': 'Modifier'}) }}

    

    </div>




    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('grs_paie_cnss') }}
{% endblock %}