<div id="page-wrapper" class="gray-bg">
	<div class="row">


		<nav class="navbar navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#">
					<i class="fa fa-bars"></i>
				</a>

				<ul class="navbar-top-links navbar-top-dossier">
					<li class="nav-item">
						
					</li>
				</ul>
				
			</div>
			<ul class="nav navbar-top-links navbar-right">

				{% include './inc/header_app_config_logout.html.twig' %}


			


			</ul>


		</nav>


	</div>

