{% extends 'base.html.twig' %}

{% block title %}Hello WorkFlowController!{% endblock %}

{% block body %}


    {% for transition in workflow_transitions(post) %}
        <a href="...">{{ transition.name }}</a>
    {% else %}
        No actions available.
    {% endfor %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <h1>Hello {{ controller_name }}! ✅</h1>

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ 'C:/wamp64/www/ugouv-sym/src/Controller/WorkFlowController.php'|file_link(0) }}">src/Controller/WorkFlowController.php</a></code></li>
            <li>Your template at <code><a href="{{ 'C:/wamp64/www/ugouv-sym/templates/work_flow/index.html.twig'|file_link(0) }}">templates/work_flow/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
