<div class="row">
    <div class="btn-group btn-breadcrumb btn-breadcrumb2">
        <div class="row mt-1 ml-2">
           &nbsp APPLICATIONS  &nbsp > &nbsp MODULE GESTION DE TRESORERIE &nbsp > &nbsp Gain ou Perte de change
        </div>          
    </div>
</div>
