<div class="row">
    <div class="btn-group btn-breadcrumb btn-breadcrumb2">
        <a href="#" class="btn btn-default">
           <b>Operations

        </b>
        </a>
        {% if  operationn is defined and operationn is not empty and operationn.id is not empty %}
            {% set count = 0 %}
            {% set count2 = 0 %}

            {% for key , place  in { "creer":"Cree" ,  "vente_valider":"Validee" ,  "vente_generer":"generer"}  %}
                {% if count >= 0 %}

                    <a href="#" class="btn btn-default
                       {% if workflow_has_marked_place(operationn, key)  %}
                           btn-breadcrumb2-active
                       {% endif %}
                       {% if count2 == 0  %}{{ workflow_metadata(operationn, 'class_css', key)}}{% else %} hide-btn-workflow {% endif %}
                       ">{{ place }}
                    </a>
                    {% set count = count + 1%}
                    {% if workflow_has_marked_place(operationn, key)  %}
                        {% set count2 = count2 + 1 %}
                    {% endif %}
                    
                    
                    
                {% endif %}

            {% endfor %}
        {% endif %}
    </div>
</div>
